
<!DOCTYPE html>
<html lang="eng">
    <head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registration </title>
</head>
<body bgcolor = "lightblue">
<h1 align="center">Registration Form</h1>
<form align="center">
    <label >Username : </label>
    <input type="text"><br>
    <label >Password : </label>
    <input type="password"><br>
    <label >Gender : </label>
    Male<input type="radio" name="gender">
    Female<input type="radio"name="gender"><br><br>
    <label >Languages Known : </label><br><br>
    English<input type="checkbox" name="language">
    Malayalam<input type="checkbox" name="language">
    Hindi<input type="checkbox" name="language"><br><br>
    <label>Country</label>
    <select>
        <option>select</option>
        <option>India</option>
        <option>USA</option>
        <option>Europe</option>

    </select><br><br>
    <label > Age : </label>
    <input type="number" ><br><br>
    <label >Email: </label>
    <input type="email"><br><br>
    <label >Phone Number : </label>
    <input type="tel">

    <input type="submit" value ='Register'/><button><a href="index.html"> go to  index</a></button>
    <input type="reset" value ='reset'/>


</form>
    
</body>


</html>